a, .btn {
    transition: all 300ms ease;
}

/* desktop nav */

nav, .nav-links {
 display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    border-radius: 8px;
    color: black;
    text-decoration: none;
    padding: .5rem .75rem;
    text-decoration-color: white ;
    font-family: "Karla", sans-serif ;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    transition: all .2s;
    text-align: center;
    vertical-align: middle;
    padding: .5rem .75rem;
    line-height: 150%;
    vertical-align: middle;
}

a:hover {
    background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
    font-weight: 700;
}

.logo {
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Karla", sans-serif ;
}

.logo:hover {
    cursor: default;
}

/* hamburger menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    z-index: 999;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}


/* .btn class for general buttons for the site to fit theme and change accordingly */
.btn {
    line-height: 150%;
    letter-spacing: -.011em;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap; 
    border-radius: 3px;
    background-color: lightskyblue;
}

.bookingBtn {
    line-height: 150%;
    display: inline-block;
    margin-bottom: 0;
    border: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap; 
    border-radius: 8px;
    background-color: #E27EAC;
    color: white;
    font-weight: 500;
    padding: .5rem .75rem;
}

.bookingBtn:hover {
    background-color: #b72569;
    transition: background-color 0.3s ease-in-out;
}

div > .bookingBtn {
    line-height: 150%;
    display: inline-block;
    margin-bottom: 0;
    border: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap; 
    border-radius: 1.5625rem;
    background-color: #E27EAC;
    color: white;
    font-family: "Karla", sans-serif ;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .5rem 2rem;
    margin-bottom: .75rem;
}

.learnMoreBtn {
    line-height: 150%;
    display: inline-block;
    margin-bottom: 0;
    border: 1;
    border-color: black;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap; 
    border-radius: 1.5625rem;
    background-color: #fff;
    color: black;
    font-family: "Karla", sans-serif ;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .5rem 2rem;
    margin-bottom: .75rem;
}

.learnMoreBtn:hover {
    color: #fff;
    background-color: black;
}