* {
    /* padding: 0;
    margin: 0; */
    scroll-behavior: smooth;

  
  
/*  edar css for hero  */
  
h1 {
    display: block;
    font-family: 'Klarna', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    letter-spacing: -1px;
}

.hero-text {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.56;
}

#hero-section {
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-inline-size: 960px;
    unicode-bidi: isolate;
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-bottom: 3rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
}

.hero-img {
    border: 5px solid grey;
    border-radius: 12px;
    margin: 10px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    height: 40rem;
    width: 35rem;
    object-fit: cover;
}
}



                                               /*       Page sections - Read Comments for Section   */


      .body-headers {
          text-align: center;
          font-size: 5rem;
          /* font-family: 'The Aesthetic Essential', sans-serif; */
          font-family: "Karla", sans-serif ;
          /* font-weight: 90%; */
          padding-top: 90px;
      }



/*  Home/Hero Section */



/* About Section   */
    #about {
        background-color: #F1F0EA;
    }

    .about-subtitle {
        font-family: 'Blanvad', sans-serif;
        font-size: 30px;
        font-style: italic;
    }

    .about-container {
        display: flex;
        width: auto;
        padding-bottom: 6rem;
    }

    .about-img {
        border: 5px solid grey;
        border-radius: 12px;
        margin: 10px;
        min-width: 230px;
        overflow: hidden;
        position: relative;
        height: 35rem;
        width: 25rem;
        object-fit: cover;
    }

    .about-content {
        font-size: 20px;
        text-align: left;
        font-family: "Karla", sans-serif ;
        margin-left: 8rem;
        margin-right: 5rem;
        padding-top: 10px;
    }

        /* Style the button that is used to open and close the collapsible content */
    .info-btn {
        line-height: 150%;
        display: inline-block;
        margin-bottom: 1rem;
        border: 0;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap; 
        border-radius: 8px;
        background-color: #E27EAC;
        color: white;
        font-weight: 500;
        padding: .5rem .75rem;
        font-family: "Karla", sans-serif ;
    }

    .info-btn:hover {
        background-color: #b72569;
        transition: background-color 0.3s ease-in-out;
    }
    
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .info-btn:hover {
        background-color: #ccc;
    }
    
    /* Style the collapsible content. Note: hidden by default */
    .info-content {
        padding:  18px;
        display: none;
        overflow: hidden;
        background-color: #534B52;
        color: #E0DDCF;
        border-radius: 10px;
        font-size: 20px;
    }

    @media screen and (max-width: 760px){
        .about-section {
            grid-template-columns: 1fr;
            row-gap: 3fr;
        }
        .about-content {
            justify-content: center;
        }
        .info-content {
            margin: 0 auto;
        }
        .about-container {
            flex-wrap: wrap;
        }
      }
    
      @media screen and (max-width: 576px) {
        .abour-section {
            grid-template-columns: 1fr;
           
        }
        .about-content {
            width: 100%;
        }

        .about-container {
            flex-wrap: wrap;
            margin-left: -3.5rem;
        }

        .about-img {
            height: 29rem;
             width: 19rem;
        }
      }





/*  Experience Section   */


/*  Projects/Services  */

    #projects {
        background-color: #F1F0EA;
    }



/* FAQ's and Questions Section */

    #questions {
        /* background-color: #F1F0EA; */
        margin-bottom: 120px;
    }


    .faq-container {
        display: flex;
        /* max-width: 1700px; */
        max-width: 2200px;
        /* width: 100%; */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        /* background: #534B52; */
        border-radius: 8px;
        overflow: hidden;
        margin-left: 20rem;
        margin-right: 20rem;
        margin-top: 140px;
        justify-content: center;
        align-items: center;

       

      }
      
      /* Sidebar Tabs */
      .faq-tabs {
        display: flex;
        flex-direction: column;
        width: 30%;
        /* background-color: #534B52; */
        padding: 1rem;
        color: #534B52 ;

    
      }
      
      .tab-btn {
        background: E0DDCF;
        border: none;
        color: #534B52;
        padding: 10px 15px;
        text-align: left;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        margin-bottom: 10px;
        transition: background 0.3s;
        height: 70px;
        font-size: 20px;
      }
      
      .tab-btn:hover, .tab-btn.active {
        background-color: #534B52;
        color: #F1F0EA;
      }
      
      /* FAQ Content */
      .faq-content {
        flex: 1;
        padding: 1rem;
      }
      
      .faq-panel {
        display: none;
        border-radius: 16px;
        /* background: #534B52; */
      }
      
      .faq-panel.active {
        display: block;
        background: white;
      }
      

      .faq-item {
        margin-bottom: 10px;
      }
      
      .faq-question {
        background: #E0DDCF;
        color: black;
        border: none;
        width: 100%;
        text-align: left;
        padding: 10px 15px;
        font-size: 30px;
        font-style: bold;
        cursor: pointer;
        border-radius: 6px;
        transition: background 0.3s;
        font-family: "Karla", sans-serif ;
      }
      
      .faq-question:hover {
        background: #534B52;
        color: #E0DDCF;
        transition: background 0.3s;
      }
      
      .faq-answer {
        padding: 10px 15px;
        background: #f9f9f9;
        border-left: 5px solid #b72569;
        display: none;
        margin-top: 5px;
        border-radius: 4px;
        background: #F1F0EA;
      }
      
      .faq-answer li {
        margin: 0;  
        color: #534B52;
        font-size: 25px;
        font-family: "Karla", sans-serif ;
        text-align: left;
        margin-bottom: 10px;
        padding: 10px;
      }
      
      /* Responsive Design */

  @media screen and (max-width: 1200px) { 
    .faq-container {
        column-gap: 3rem;
        margin-right: 10rem;
          margin-left: 10rem;
    }
}

      @media (max-width: 768px) {
        .faq-container {
          flex-direction: column;
          margin-right: 5rem;
          margin-left: 5rem;
        }
      
        .faq-tabs {
          width: 100%;
          flex-direction: row;
          overflow-x: auto;
          gap: 1rem;
          padding: 5px;
        }
      
        .tab-btn {
          flex: 1;
          text-align: center;
          font-size: 20px;
        }
        .faq-question {
            font-size: 26px;
        }
      }

       /* -- Small Devices */
        @media screen and (max-width: 350px) {
            .faq-container {
                flex-direction: column;
                margin-right: 1rem;
                margin-left: 1rem;
            }
        }

    /* CSS for Accordion FAQ list */

    /* css for the buttons that are used to open and close the accordion panel */
    .accordion-list {
        /* text-align: left; */
        transition: 0.4s;
        font-family: "Karla", sans-serif ;
        padding-top: 100px;
        padding-bottom: 90px;
        width: 74%;
        align-content: center; 
        display: flex;
        flex-direction: column;
        margin-left: 250px;
    }
  
    .accordion-title {
        font-family: "Karla", sans-serif ;
        font-size: 50px;
    }


  /* Adds events to the button if it is clicked on (U need to add the .active class with JS), and when you move the mouse over it (hover) */
  .btn-active, .accordion-btn:hover {
    background-color: #534B52;
    color: #E0DDCF;
    font-weight: bold;
    /* font-style: italic; */
    font-size: 28px;
  }
  
  /* Style for the accordion dropdown. Note: hidden by default */
  .panel {
    background-color: #E0DDCF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    width: 100%;
  }

  .panel-text {
    color: #474448;
    font-size: 25px;
    font-family: "Karla", sans-serif ;
    padding: 22px;
  }

  .accordion-btn {
    font-family: "Karla", sans-serif ;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
    height: 80px;
    padding-left: 15px;
    
  }

  .accordion-btn:after {
    content: '\02795'; /* this adds Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }
  
  .btn-active:after {
    content: "\2796"; /* and adds Unicode character for "minus" sign (-) */
  }



/* -----------=============================================================================== */



  

/* Contact Section --  CSS  */

#contact {
    background-color: #F1F0EA;
}

.contact__title {
    text-align: center;
    font-size: 50px;
    font-weight: 75%;
    margin-bottom: 35px;
    font-family: "Karla", sans-serif ;
    color: #2D232E;                                           
}

.contact__card-data {
    font-size: 34px;
    color: #534B52;
    /* display: block; */
    margin-bottom: 85px;
    text-align: center;
    padding: 17px;
}

/* new stuff as of 12/9 */

.contact-maincard {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
}

.card {
    /* flex: 1 1 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #fff;
    width: 600px;
    height: 400px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #534B52;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-titles {
    text-align: center;
    font-size: 50px;
    font-style: bold;
    margin-top: 19px;
    margin-bottom: 35px;
    font-family: "Karla", sans-serif ;
    color: #E0DDCF;
}

.contact__card-data {
    font-size: 34px;
    color: #E0DDCF;
    margin-bottom: 25px;
    text-align: center;
    padding: 17px;
}

.contact__button {
    color: var(--text-color);
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
}

.contact__button-icon {
    font-size: 1rem;
    transition: 0.3s;
}
.contact__button:hover .contact__button-icon {
    transform: translate(0.25rem);
}

.map-info {
    font-size: 33px;
    font-family: "Karla", sans-serif ;
    color: #534B52;
    line-spacing: 1px;
}

#map-frame {
    width: 1100px;
    height: 650px;
    border-radius: 16px;
}

#ig-icon {
    color: white;
}

.location-title {
    font-family: "Karla", sans-serif ;
    color: #2D232E;
}





/*  Breakpoints */
  /*  -- Large Devices */
  @media screen and (max-width: 1200px) { 
    .contact-maincard {
        margin-left: 4rem;
        gap: 7px;
        padding: 10px;
    
    }

    .card{
        height: 27rem;
        width: 35rem;
        padding: 20px;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        p {
            margin-left: 10px;
            margin-top: 5px;
        }
    }
    .card-titles {
        font-size: 34px;
    }
    .fa {
        padding: 13px;
        font-size: 3px;
        align-item: center;
    }
  }

  @media screen and (max-width: 992px) { 
    .contact-maincard {
        margin-left: 10rem;
        gap: 7px;
        padding: 27px;
        flex-direction: column-reverse;
    }

    .card{
        height: 20rem;
        width: 28rem;
        padding: 20px;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        p {
            margin-left: 15px;
            margin-top: 10px;
        }
    }
  }

  /* -- Medium Devices */

  @media screen and (max-width: 766px){
    .contact-maincard {
        gap: 4px;
        padding: 20px;
        flex-direction: column-reverse;
        margin-left: 2rem;
    }

    .card{
        height: 20rem;
        width: 28rem;
        padding: 20px;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        p {
            margin-left: 15px;
            margin-top: 10px;
        }
    }
    
  }

  @media screen and (max-width: 576px) {
    .contact-maincard {
        flex-direction: column-reverse;
        padding: 25px;
        font-size: 25px;
        margin-left: 13rem;
    }
  }

  /* -- Small Devices */
  @media screen and (max-width: 350px) {
  }



  #footer {
    background: #534B52;
  }


  /* Footer CSS */

  .footer-content {
    height: 280px;
    font-family: "Karla", sans-serif ;
    color: #E0DDCF;
    position: relative;
    bottom: 0;
    /* margin-top: 12rem; */
    
  }

  .footer-sub {
    /* z-index: 0;
    bottom: 0px;
    left: 2.5%;
    height: 320px;
    width: 95%;
    padding-left: 0.7125rem;
    padding-right: 0.7125rem;
    text-align: left; */
  }

  .footer-card {
    flex-flow: column wrap;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    margin-top: 3rem;
    
  }


  .footer-data2 ul{

    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    list-style: none;
    margin-top: 4rem;
    text-align: center;

  }


  